html {
    background-color: #fff1eb;
  }
  body {
    background-color: transparent !important;
    letter-spacing:1.5px;
  }
  a{
    text-decoration:none;
  }
  ul {
    list-style: none;
  }
  .left, .right {
  /*   border: 1px solid #000; */
  }
  .card, .card img {
    border-radius: 10px!important;
  }
  .office,
  .adobe,
  .web {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .circle {
    width: 75px;
    height: 75px;
    /*   border: 1px solid gray; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  .lv10 {
    background: conic-gradient(royalblue 0, royalblue 36deg, gainsboro 36deg);
  }
  .lv20 {
    background: conic-gradient(royalblue 0, royalblue 72deg, gainsboro 72deg);
  }
  .lv30 {
    background: conic-gradient(royalblue 0, royalblue 108deg, gainsboro 108deg);
  }
  .lv40 {
    background: conic-gradient(royalblue 0, royalblue 141deg, gainsboro 144deg);
  }
  .lv50 {
    background: conic-gradient(royalblue 0, royalblue 180deg, gainsboro 180deg);
  }
  .lv60 {
    background: conic-gradient(royalblue 0, royalblue 216deg, gainsboro 216deg);
  }
  .lv70 {
    background: conic-gradient(royalblue 0, royalblue 252deg, gainsboro 252deg);
  }
  .lv80 {
    background: conic-gradient(royalblue 0, royalblue 288deg, gainsboro 288deg);
  }
  
  div.skill span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 55px;
    height: 55px;
    background: rgb(255 255 255);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .carousel-item p {
    color: black;
  }
  
  .tab-content {
    width: 100%;
  }
  div.tlc .modal-body{
    margin: 0px 40px 30px 40px;
  }
  .carousel-control-prev{
    left:-80px;
  }
  .carousel-control-next{
    right:-80px;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon{
      height: 50px;
      background-color: #ff6b7a;
  }
  .carousel-control-next-icon{
      border-radius: 0 50px 50px 0;
  }
  
  .carousel-control-prev-icon{
      border-radius: 50px 0px 0px 50px;
  }
  .carousel-indicators{
    bottom:-50px;
  }
  .carousel-indicators [data-bs-target]{
    background-color:#ff6b7a;
  }


@media (max-width: 1399.98px) {  
  .carousel-control-prev{
    left:-80px;
  }
  .carousel-control-next{
    right:-80px;
  }
 }

@media (max-width: 1199.98px) {  
  .carousel-control-prev{
    left:-70px;
  }
  .carousel-control-next{
    right:-70px;
  }
 }

@media (max-width: 991.98px) {  
  .carousel-control-prev{
    left:-60px;
  }
  .carousel-control-next{
    right:-60px;
  }
 }

@media (max-width: 767.98px) {  
  .carousel-control-prev{
    left:-50px;
  }
  .carousel-control-next{
    right:-50px;
  }
 }


